:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  user-select: none;
  color: #222831;
  background-color: #fff;
  font-family: '华文琥珀';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,span,i,li {
  color: #222831;
}

li {
  list-style: none;
}

.shadow {
  box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.2) ;
}

* {
  padding: 0%;
  margin: 0%;
}
body {
  min-height: 100vh;
  height: 100%;
}
#app {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}
button {
  cursor: pointer;
  border: 0;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #222831;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: rgb(40,44,52);
  }

  .shadow {
    box-shadow: 0px 10px 20px 0 rgba(119, 113, 113, 0.2) ;
  }

  a:hover {
    color: #24c8db;
  }

  h1,h2,h3,span,i,li,div {
    color: #ffffff;
  }

  input,
  button {
    color: #ffffff;
    background-color: rgb(0,0,0,0.3);
  }
}
